<!DOCKTYPE html>

<html>
<head>
<body>
    <h1>Путин оценил важность российско-китайского энергетического бизнес-форума</h1>
    <p>Российско-китайский энергетический бизнес-форум является эффективным механизмом</p>
    <p></p>прямого диалога между отраслевыми компаниями РФ и КНР <br>- Путин
</body>
</head>
</html>